@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
	font-family: 'Cabin', sans-serif;
}

#game-board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#row-0,
#row-1,
#row-2 {
	display: flex;
}

.square {
	height: 200px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

#square-1 {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#square-3 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#square-4 {
	border: 1px solid black;
}

#square-5 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#square-7 {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#game-over {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.793);
	font-size: 3rem;
	color: white;
	/* width: 500px;
	height: 500px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#game-over-text {
	margin: 0;
}

#play-again {
	border: none;
	color: white;
	background-color: black;
	padding: 10px 20px;
	border-radius: 8px;
	font-size: 1.5rem;
}

#play-again:hover {
	transform: scale(1.05);
}

#play-again:active {
	transform: scale(1.02);
}

#winner {
	margin: 20px;
}

.hidden {
	display: none !important;
}
